*.elc
*~
.DS_Store
/.org-id-locations
/network-security.data
/others/local.el
abbrev_defs
anything*
auto-install
auto-save-list
bookmarks
ede-projects.el
elpa
history
image-dired
mypass
newsticker
places
recentf
semanticdb
server
srecode-map.el
thumbs
tramp
tutorial
twit*
url
